@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../assets/img/triangles.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}