@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../assets/img/triangles.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 48px 0px;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in;
}

svg, path {
    transition: all .3s ease-in;
}

nav {
    display: flex;
    width: 60vw;
    justify-content: space-between;

    margin-top: 32px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title > h3,
.title > h1 {
    font-weight: 500;
    color: #333;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #B1B1B1;
    font-size: 14px;
}

.link > svg {
    margin-bottom: 8px;
}

.link:hover {
    color: #00726E;
}

.link:hover > svg {
    fill: #00726E;
}

.link_active {
    color: #00726E;
}

.fridge_icon,
.clock_icon,
.star_icon {
    height: 28px;
    width: 28px;
    fill: #B1B1B1;
}

.link_active > svg {
    fill: #00726E;
}

.green_btn {
    background-color: #33AFAA;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 5px #00000005;
    padding: 8px 16px;
    width: fit-content;
}

.green_btn:hover {
    background-color: #2a9793;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 28px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.fridge_shape {
    background-color: #fff;
    box-shadow: 0px -5px 20px 5px #00000010;
    border-radius: 32px 32px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 460px) {
    header {
        width: 360px;
    }
    nav {
        width: 100%;
    }
}