.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction > h4 {
    font-weight: 500;
    color: #333;
}

.introduction > p {
    color: #8D8D8D;
    width: 250px;
    text-align: center;
}

.skip_btn {
    background-color: #EAF3F150;
    color: #00726E90;
    font-size: 18px;
    padding: 6px 18px;
    margin-top: 24px;
    border-radius: 12px;
}

.skip_btn:hover {
    background-color: #EAF3F1;
    color: #00726E;
}

.right_icon {
    width: 8px;
    margin-left: 8px;
}

.right_icon > path {
    stroke: #00726E90;
}

.skip_btn:hover > .right_icon > path {
    stroke: #00726E;
}