.ranking {
    padding: 36px 16px 0px 24px;

    position: absolute;
    bottom: 0px;
    top: 30vh;
    min-height: 70vh;
}

.ranking > .title {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-around;
    color: #333;
}

.ranking > .title > span {
    width: 40px;
    height: 2px;
    background-color: #d1d1d1;
}

.ranking_list {
    margin-top: 36px;
}

.ranking_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 12px 16px;
    margin-bottom: 16px;
    width: 65vw;
}

.ranking_item > h1 {
    color: #bbb;
    font-size: 42px;
}

.ranking_item > img {
    width: 66px;
    margin: 0px 24px 0px 32px;
}

.item_name {
    color: #333;
    font-weight: 500;
}

.total_consumed {
    color: #bbb;
    
}

@media (min-width: 460px) {
    .ranking {
        width: 360px;
    }
    .ranking_item {
        width: 320px;
    }
}